@import "../../assets/sass/variabili";
.widget-news {
  margin-top: 3rem;
  > h2 {
    color: $brown;
    text-transform: uppercase;
    text-align: center;
    margin-left: 2rem;
    font-size: 70px;
    margin-bottom: 0;
    font-weight: normal;
  }
  .col-3 {
    flex: 1 1 430px;
    margin: 2rem 1rem 1rem 1rem;
    border: 1px solid $brown;
    padding: 1rem;
  }
  .box-news {
    h2 {
      color: $brown;
      text-align: left;

      font-size: 24px;
      margin: 0;
    }
    h3 {
      font-size: 1rem;
      margin-bottom: 0;
    }
    p {
      text-align: left;
      font-size: $paragraph;
      line-height: 1.5rem;
    }
    .date {
      color: $grey;
      font-size: 18px;
      padding: 0px;
    }
    .button-sezione {
      @include button-sezione(2rem, 5rem);
      display: block;
      margin: 2rem auto 0 auto;
    }
    .immagine-widget {
      max-width: 450px;
      height: 300px;
      display: block;
      margin: 0 auto;
    }
    .leggi-tutto {
      color: $brown;
      font-style: italic;
      font-weight: medium;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
