@import "../../assets/sass/variabili";

.widget-fiere {
  > h2 {
    color: $brown;
    text-transform: uppercase;
    padding: 0 2rem;
    margin-left: 2rem;
    margin: 0 auto;
    font-weight: normal;
    max-width: 1540px;
    width: 90%;
    margin-bottom: 2rem;
  }
  .footerSezione {
    text-align: center;
  }
  .button-sezione {
    margin: 2rem auto 0rem auto;
  }
}
.widget-fiere-wrapper {
  gap: 2rem;
  padding: 0 2rem;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}
.box-fiere {
  margin: 2rem 1rem 1rem 1rem;
  border: 1px solid $brown;
  padding: 1rem;
  h2 {
    color: $brown;
    text-align: left;
    margin-top: 5px;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  p {
    text-align: left;
  }
  .button-sezione {
    @include button-sezione(2rem, 5rem);
    display: block;
    margin: 2rem auto 0 auto;
  }
  .immagine-widget {
    max-width: 450px;
    display: block;
    margin: 0 auto;
  }
  .leggi-tutto {
    color: $brown;
    font-style: italic;
    font-weight: medium;
    &:hover {
      text-decoration: underline;
    }
  }
}
