@import "../../assets/sass/variabili";

.breadcrumb {
  background-color: $lightGrey;

  .container {
    padding-left: 1rem;
    justify-content: space-between;
    width: 90%;
  }
  h2 {
    font-family: $title;
    font-size: 44px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    padding-left: 5px;
    @media #{$large} {
      align-self: flex-start;
    }
    @media #{$desktop} {
      flex-direction: row;
    }

    span {
      font-size: 20px;
      display: block;

      &:last-child {
        font-size: 44px;
        @media #{$laptop} {
          font-size: 20px;
        }
      }
    }
  }
}
