@import "../../assets/sass/variabili";

.wrapper-megamenu {
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s linear;
  background-color: #fff;
  display: block;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  background-color: $lightBrown;

  .mega-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1620px;
    margin: 3rem auto;
    justify-content: space-between;
    background-color: white;
    padding: 2rem;
  }
  .col-mega {
    position: relative;
    .content-mega {
        position: relative;
      &::after {
        content: "";
        height: 100%;
        width: 3px;
        position: absolute;
        background-color: $brown;
        top: 0;
        right: -4%;
      }
    }
  }
  .box-prodotto {
    flex: 1;
    max-width: 422px;

    h2 {
      color: $brown;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      color: $textColor;
      margin-top: 10px;
      &:first-of-type {
        text-transform: uppercase;
      }
    }
  }
  .titolo-col-mega {
    font-size: 30px;
    font-weight: bold;
    color: $textColor;
    margin-bottom: 1rem;
  }

  ul.mega-list {
    flex: 1;
    position: relative;
    opacity: 1;
    z-index: 1;
    box-shadow: 0 0 0 transparent;
    padding: 0;
    margin: 0;
    background-color: transparent;
    li {
      display: block;
      margin: 0.5rem 0;
      color: $brown;
    }
  }
}
