@import "../../assets/sass/variabili";

.top-menu {
  background-color: $lightBrown;
  padding: 0 1rem;
  .container {
    max-width: $container;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  ul {
    list-style: disc;

    li {
      display: inline-block;
      margin: 0 1rem;

      @media #{$landscape} {
        display: block;
      }
    }
  }

  a {
    color: white;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  .langbox {
    margin-left: 2rem;

    ul {
      li {
        margin: 0;
        color: white;
        text-decoration: underline;

        &:first-child {
          text-decoration: none;
        }

        &:first-child::after {
          position: relative;
          content: "-";
          margin: 0 3px;
        }
      }
    }
  }
}

.mainmenu {
  margin-top: 20px;
  padding: 0 1rem;
  a:not(.mega-item) {
    color: $brown;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  .container {
    justify-content: space-between;
    align-items: center;
  }

  a.active {
    text-decoration: underline;
  }

  .main-mega {
    position: relative;
    height: 50px;
    display: block;
    padding: 5px 10px;
    transition: all ease-in-out 0.5s;
    a {
      color: #a4917d;
      text-transform: uppercase;
      font-size: 24px;
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      color: white;
    }

    &.open {
      background: $lightBrown;
      color: white;
      a {
        color: white;
      }
    }
  }

  ul {
    align-self: flex-end;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 2rem;

      ul {
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: all ease-in-out 0.3s;
        background-color: white;
        padding: 0;
        li {
          margin: 0;

          display: block;
          a:not(.mega-item) {
            margin: 0;
            transition: all 0.2s ease-in-out;
            display: block;
            padding: 0.7rem 2rem;
            font-size: 1rem;
            &:hover {
              text-decoration: underline;
            }

            &:hover {
              background-color: $lightBrown;

              color: white;
            }
          }
        }
      }

      &:hover {
        ul:not(.mega-list) {
          opacity: 1;
          z-index: 2;
          box-shadow: 0px 5px 0px #81746985;
          li {
            display: block;
            margin: 0;
            font-size: 16px;
            a:not(.mega-item).active {
              background-color: $lightBrown;
            }

            a.active {
              color: white;
            }
          }
        }

        .wrapper-megamenu {
          opacity: 1;
          z-index: 100;
        }
      }
    }
  }
}

.main-logo {
  width: 362px;
}
