@import "../../assets/sass/variabili";

.top-menu {
  background-color: $lightBrown;
  padding: 0 1rem;
  font-family: $title;
  @media #{$landscape} {
    display: none;
  }
  .container {
    max-width: $container;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media #{$large} {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  ul {
    list-style: disc;

    li {
      display: inline-block;
      margin: 0 1rem;
      &:last-child {
        margin-right: 0;
      }
      @media #{$landscape} {
        display: block;
      }
    }
  }

  a {
    color: white;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  .langbox {
    margin-left: 2rem;

    ul {
      li {
        color: $lightBrown;

        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.815);

        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        margin: 0 0.2rem;
        text-transform: uppercase;
        &.active {
          text-decoration: underline;
          background: rgba(255, 255, 255);
        }

        a {
          color: #0e294b;
        }
      }
    }
  }
}

.mainmenu {
  font-family: $title;

  padding: 1.2rem 1rem;
  &.fixed {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background: white;
    animation: menuSticky 0.5s;
    box-shadow: 1px 5px 1px #0000000d;
    @media #{$large} {
      margin-top: 20px;
      position: relative;
    }
    .main-logo {
      img {
        width: 272px;
        padding: 0.5rem;
      }
    }
    ul {
      align-self: center;
    }
    .wrapper-megamenu {
      margin: 1rem auto 0 auto;
    }
  }
  @media #{$landscape} {
    display: none;
  }
  a:not(.mega-item) {
    color: $brown;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  .container {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    @media #{$large} {
      flex-direction: column;
      align-items: center;
    }
  }

  a.active {
    text-decoration: underline;
  }

  .main-mega {
    position: relative;

    display: block;
    padding: 5px 10px;
    transition: all ease-in-out 0.5s;
    img {
      margin-left: 8px;
    }
    a {
      color: $brown;
      text-transform: uppercase;
      font-size: 24px;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      color: white;
    }

    &.open {
      a {
        text-decoration: underline;
      }
    }
  }

  ul {
    align-self: flex-end;
    margin: 0;
    @media #{$large} {
      align-self: center;
    }
    li {
      display: inline-block;
      margin: 0 2rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      img {
        margin-left: 8px;
      }
      ul {
        position: absolute;
        opacity: 0;
        z-index: -1;
        transition: all ease-in-out 0.3s;
        background-color: white;
        padding: 0;
        li {
          margin: 0;

          display: block;
          a:not(.mega-item) {
            margin: 0;
            transition: all 0.2s ease-in-out;
            display: block;
            padding: 0.7rem 2rem;
            font-size: 1rem;
            &:hover {
              text-decoration: underline;
            }

            &:hover {
              background-color: $lightBrown;

              color: white;
            }
          }
        }
      }

      ul:not(.mega-list).open {
        opacity: 1;
        z-index: 2;
        box-shadow: 0px 5px 0px rgb(58 72 90 / 52%);
        li {
          display: block;
          margin: 0;
          font-size: 16px;
          a:not(.mega-item).active {
            background-color: $lightBrown;
          }
          a.active {
            color: white;
          }
        }
      }

      .wrapper-megamenu {
        opacity: 1;
        z-index: 100;
      }
    }
  }
}

.main-logo {
  width: 362px;
  @media #{$large} {
    margin-bottom: 1rem;
  }
}

@keyframes menuSticky {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
