@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/oswald/300.css";
@import "@fontsource/oswald/400.css";
@import "@fontsource/oswald/600.css";

$lightBrown: #0e294b;
$brown: #4a6c96;
$grey: #59616e;
$lightGrey: #a9b0ba;
$text: "roboto", sans-serif;
$link: "roboto", sans-serif;
$title: "Oswald";
$container: 1420px;
$paragraph: 18px;
$phone: "only screen and (max-width : 460px)";
$tablet: "only screen and (max-width : 720px)";
$landscape: "only screen and (max-width : 1024px)";
$desktop: "only screen and (max-width : 1200px)";
$large: "only screen and (max-width: 1340px)";
$wide: "only screen and (max-width : 1620px)";
$big: "only screen and (max-width : 1900px)";

@mixin h2-sezioni($sizeh2, $sizeStrong: 36px) {
  color: $grey;
  text-transform: uppercase;
  font-size: $sizeh2;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  strong {
    font-size: $sizeStrong;
    display: block;
    font-weight: 600;
  }
  span {
    display: block;
  }
}

@mixin button-sezione($padding, $margin) {
  border: 1px solid $lightBrown;
  display: inline-block;
  padding: 0.2rem $padding;
  border-radius: 30px;
  margin-top: $margin;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 45px;
  color: $brown;
  text-align: center;

  @media #{$landscape} {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: $lightBrown;
    color: white;
  }
}
