@import "normalize.scss";
@import "./variabili";
@import "./animations.scss";

@include sezione-interne;
@include sezione-testo-sx;
@include sezione-testo-dx;
@include sezione-testo-no-immagine;

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: $text;
}

.mainwrapper {
  max-width: 2033px;
  margin: 0 auto;
  box-shadow: 0px 0px 11px #dfdfdf;
}

header {
  position: relative;
}

h1.titolo,
h2.titolo {
  @include h2-sezioni(60px);
  color: $textColor;
  margin-top: 0;
  display: block;
  line-height: 1.2;
  font-weight: 400;
  color: $brown;

  span {
    display: block;
  }

  strong {
    display: block;
    font-size: 95px;
    font-weight: 600;
    line-height: 1;
    margin-top: 0;
  }

  @media #{$large} {
    text-align: center;
  }
}

.box-dx {
  flex-shrink: 1;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}
h2 {
  @include h2-sezioni(72px);

  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  strong {
    font-size: 120px;
    font-weight: 600;
  }
}
h3 {
  color: $textColor;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $title;
}

p {
  font-weight: lighter;
}

.tl-edges {
  overflow-x: auto;
}

div[class^="box"] h2 strong,
h1.titolo strong {
  @media #{$large} {
    font-size: 70px;
  }
}

h1.titolo {
  @media #{$large} {
    font-size: 50px;
  }
}

.animate {
  transition: all ease 1s;
  position: relative;
}

.animate-long {
  transition: all ease 1.7s;
  position: relative;
}

.hidden {
  opacity: 0;
  top: 100px;

  @media #{$large} {
    opacity: 1;
    top: 0px;
  }
}

.show {
  opacity: 1;
  top: 0;
}

.hidden-rx {
  opacity: 0;
  right: 100px;

  @media #{$large} {
    opacity: 1;
    right: 0px;
  }
}

.show-rx {
  opacity: 1;
  right: 0px;
}

.scrolltotop {
  opacity: 0;
  position: fixed;
  right: -300px;
  top: 50%;
  transition: all ease-in-out 0.5s;

  @media #{$phone} {
    display: none;
  }

  &.visible {
    opacity: 1;
    right: 0;
  }

  button {
    background-color: $lightBrown;
    border: 0;
    padding: 1rem;
    opacity: 0.8;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
}

.container {
  max-width: $container;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media #{$large} {
    flex-direction: column;
    align-items: center;
  }
}

.container-fluid {
  width: 100%;
}

ul {
  padding: 0;
}

.sottotitolo {
  text-transform: uppercase;
}

section.container.repeater {
  flex-wrap: wrap;
  justify-content: space-around;

  .box-repeater {
    max-width: 600px;

    h3 {
      color: $brown;
      text-transform: uppercase;
      font-family: $title;
      font-size: 32px;
      margin-bottom: 0;

      &::before {
        content: "";
        position: relative;
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-left: -45px;
        margin-right: 10px;
        top: 5px;
        background-image: url(../../images/check_icon.png);
      }
    }

    p {
      color: $textColor;
      font-family: $text;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

section.container.repeater.no-flag {
  .box-repeater {
    max-width: 600px;

    h3 {
      color: $textColor;
      text-transform: uppercase;
      font-family: $title;
      font-size: 24px;
      margin-bottom: 0;

      &::before {
        content: "";
        display: none;
      }
    }

    p {
      color: $textColor;
      font-family: $text;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.jumbo-home {
  text-align: center;
}

/* ANCHOR: sezione1 */

.gatsby-image-wrapper-constrained.jumbo-image {
  margin: 1.5rem auto;
  display: block;
  background-color: $lightBrown;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
div:not(.home) .container.sezione-1.index-0 {
  justify-content: flex-end;
  max-width: 100%;
  .box-dx {
    max-width: 1030px;
    margin-left: 2rem;
  }
}
div:not(.home) .container.sezione-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  max-width: 1420px;
  &.right {
    flex-direction: row-reverse;
  }
  .box-dx {
    max-width: 1030px;
  }
  .box-sx {
    h2:before {
      background-color: #a4917d;
      content: "";
      height: 100%;
      left: -30px;
      position: absolute;
      top: 0;
      width: 10px;
    }
  }
}
.container.sezione-1.index-2 h2 strong {
  color: #a4917d;
  display: block;
  font-size: 105px;
  font-weight: 600;
  text-transform: uppercase;
}

.sezione-1 {
  margin: 140px auto 50px auto;
  gap: 4rem;

  @media #{$large} {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }

  .button-sezione {
    @include button-sezione(5rem, 17%);

    @media #{$large} {
      margin: 20px auto 0 auto;
      display: block;
      max-width: 320px;
    }
  }

  .box-sx {
    max-width: 660px;
    padding-left: 2rem;
    flex: 1 1;

    @media #{$large} {
      padding-left: 1rem;
    }

    p {
      font-size: $paragraph;
      color: $textColor;
      line-height: 38px;

      @media #{$large} {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .box-dx {
    flex: 1 1;
  }
}

.sezione-1.seznovita {
  border-top: 3px solid $lightBrown;
  border-bottom: 3px solid $lightBrown;
  justify-content: space-between;

  @media #{$large} {
    flex-direction: column;
    text-align: center;
  }

  .button-sezione {
    @include button-sezione(5rem, 5%);

    @media #{$large} {
      margin-top: 20px;
      margin-bottom: 3rem;
    }
  }

  h2 {
    @include h2-sezioni(105px);
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 3rem;
  }

  p {
    margin-top: 2rem;
    font-size: 38px;
    font-family: $title;
    color: $brown;
    line-height: 43px;

    @media #{$large} {
      margin-top: 1rem;
      font-size: 29px;
    }
  }

  .novita {
    text-transform: uppercase;
    padding: 0.4rem 4rem;
    background-color: $lightBrown;
    color: white;
    display: inline-block;
    font-family: $title;
    font-size: 36px;
  }

  .box-sx {
    padding-left: 2rem;

    @media #{$large} {
      padding-left: 1rem;
    }
  }

  .box-dx {
    flex: 1 1;
  }
}

/* ANCHOR: sezione 3 */
.sezione-3 {
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;

  @media #{$large} {
    max-width: 1000px;
  }

  .button-sezione {
    @include button-sezione(5rem, 1%);

    @media #{$large} {
      padding: 0.2rem 2rem;
    }
  }

  h2 {
    @include h2-sezioni(74px);

    margin-bottom: 2rem;
    margin-top: 3rem;
    text-align: center;
    font-weight: 400;

    strong {
      @include h2-sezioni(105px);

      display: block;
      font-weight: 600;
    }
  }

  p {
    margin-top: 2rem;
    font-size: $paragraph;
    font-family: $text;
    color: $textColor;
    text-align: center;
    max-width: 1350px;
    margin: 2rem auto;
    line-height: 38px;

    @media #{$large} {
      text-align: center;
    }

    @media #{$phone} {
      font-size: 18px;
      line-height: 30px;
      padding-left: 1rem;
    }
  }

  .box-dx {
    text-align: center;
  }
}

/* ANCHOR: sezione 4 */
.sezione-4 {
  margin: 120px auto 50px auto;

  @media #{$large} {
    flex-direction: column;
    align-items: center;
    margin: 40px auto 50px auto;
  }

  .button-sezione {
    @include button-sezione(5rem, 6%);
  }

  .box-sx {
    max-width: 495px;
    padding-left: 2rem;
    flex: 1 1;

    @media #{$large} {
      padding-left: 1rem;
      width: 100%;
      text-align: center;
    }

    p {
      font-size: $paragraph;
      color: $textColor;
      line-height: 38px;
      max-width: 520px;

      @media #{$large} {
        font-size: 18px;
        line-height: 30px;
        max-width: 100%;
      }
    }
  }

  .box-dx {
    padding-left: 2rem;
    flex: 1 1;

    @media #{$large} {
      padding-left: 1rem;
    }
  }
}

/* ANCHOR: HOMEPAGE */
